version: '3.8'

services:
  db:
    image: postgres:15
    container_name: crm_postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432" 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: crm_backend_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: /app/start.sh
  frontend:
    build:
      context: ../crm_frontend 
      dockerfile: Dockerfile
    container_name: crm_frontend_nginx
    ports:
      - "3000:80" 
    depends_on:
      - backend 
volumes:
  postgres_data: