.container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background: var(--white);
  border-radius: 8px;
  box-shadow: var(--shadow-lg);
}

.title {
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.formGroup {
  margin-bottom: 1.5rem;
}